# Ignore PyCharm files
.idea/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
env/

# Ignore the api_key.txt file
modules/api/api_key.txt

# Ignore subtitle files
*.srt
*.vtt

# Ignore .jsonl files
*.jsonl
